*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: -prefix-linear-gradient(left top, blue, white);
  
}

#general{
  width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: #24303c;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 7px 13px 37px black;
}

#contenedor{
  width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 2px solid #3f72a5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#nom{
  font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

